<!--component html goes here -->
<div class="panel panel-primary">

    <div class="panel-heading">Products</div>
    <div class="panel-body">
        <table class="table">
            <thead class="thread-inverse" >
                <tr>
                    <td>Product Name</td>
                    <td>Description</td>
                    <td>Cost</td>
                </tr>
            </thead> 
        <tbody>
            <tr *ngFor="let prod of products">
                <td>{{prod.name}}</td>
                <td>{{prod.description}}</td>
                <td>{{prod.cost}}</td>
            </tr>

        </tbody>

        </table>

    </div>

</div>

